body{
  margin: 0;
  padding: 0;
  text-align: center;
}
button:hover{
    color:#085168;
    text-emphasis-color: black;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

